body {
  margin-top: 40px;
}

.event .table {
  width: 550px;
}

.chart {
  float: right;
}

th.stat, td.stat {
  width: 50px;
  text-align: center;
}

.significant {
  background-color: #9f9;
}

.significant.negative {
  background-color: #f99;
}
